.full-width-input {
    width: 100%;
}

.filter-button {
    height: 51.25px;
}

.filter-button-container {
    padding-bottom: 18.8px;
    margin: 3.5px 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.error-message {
    color: #f44336;
    margin: 1em 0;
}

.content-card {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
}

.table-container {
    max-height: 480px;
    overflow-y: auto;
    min-width: 718px;
}

.filter-form {
    flex-flow: wrap;
    box-sizing: border-box;
    display: flex;
    align-self: center;
    gap: 16px;
}

.filter-field {
    flex: 1 1 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 600px) {
    .filter-field {
        flex: 1 1 48%;
    }
}

@media (min-width: 960px) {
    .filter-field {
        flex: 1 1 31%;
    }
}

.file-id-column {
    flex: 1 1 15%;
}

.file-name-column {
    flex: 1 1 20%;
}

.file-download-directory-column {
    flex: 1 1 50%;
}

.file-download-method-column {
    flex: 1 1 30%;
}

.username-column {
    flex: 1 1 20%;
}

.file-download-time-column {
    flex: 1 1 30%;
}
