<mat-toolbar color="primary">
  <span>DownloadManager</span>
  <span class="toolbar-spacer"></span>
  <a mat-button routerLink="/download" routerLinkActive="active-link">Download</a>
  <a mat-button routerLink="/reports" routerLinkActive="active-link">Reports</a>
  
  <button mat-button [matMenuTriggerFor]="menu">
    {{authService.auth_username}} 
    <mat-icon>more_vert</mat-icon> 
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item style="color: red;" (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
  
<mat-card class="content-card">
  <router-outlet></router-outlet>
</mat-card>