mat-toolbar {
    .toolbar-spacer {
      flex: 1 1 auto;
    }
  
    a.active-link, button:focus {
      font-weight: bold;
    }
  }

  ::ng-deep .mat-menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
  } 