<mat-card class="content-card">
    <mat-card-content class="card-content">
        <form [formGroup]="form" (ngSubmit)="download()">
            <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>File URL</mat-label>
                <input matInput type="url" formControlName="fileUrl" required>
                <mat-error *ngIf="form.controls.fileUrl.hasError('required')">
                    File URL is required.
                </mat-error>
                <mat-error *ngIf="form.controls.fileUrl.hasError('invalidUrl')">
                    Please enter a valid URL.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>File name</mat-label>
                <input matInput type="text" formControlName="fileName" required>
                <mat-error *ngIf="form.controls.fileName.hasError('required')">
                    File name is required.
                </mat-error>
                <mat-error *ngIf="form.controls.fileName.hasError('invalidFileName')">
                    File name contains invalid characters.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Destination folder</mat-label>
                <input matInput type="text" formControlName="destinationFolder" required>
                <mat-error *ngIf="form.controls.destinationFolder.hasError('required')">
                    Destination folder is required.
                </mat-error>
                <mat-error *ngIf="form.controls.destinationFolder.hasError('invalidWindowsPath')">
                    Please enter a valid Windows path.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Download method</mat-label>
                <mat-select formControlName="downloadMethod">
                    <mat-option *ngFor="let option of downloadMethodOptions" [value]="option.value">
                        {{ option.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls.downloadMethod.invalid">Download method is required.</mat-error>
            </mat-form-field>
            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
            <div class="buttons">
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
                    class="download-button">Download</button>
                <button mat-raised-button type="button" color="warn" [disabled]="dataSource.data.length === 0"
                    (click)="clear()">Clear
                    logs</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<div class="table-container content-card" *ngIf="dataSource.data.length !== 0">
    <mat-table [dataSource]="dataSource">
        <!-- Date Column -->
        <ng-container matColumnDef="datetime">
            <mat-header-cell *matHeaderCellDef ngClass="date-column"> Date </mat-header-cell>
            <mat-cell *matCellDef="let log" ngClass="date-column"> {{log.Datetime | date:'dd/MM/yyyy HH:mm:ss.SSS'}}
            </mat-cell>
        </ng-container>

        <!-- Work Number Column -->
        <ng-container matColumnDef="worknumber">
            <mat-header-cell *matHeaderCellDef ngClass="worknumber-column"> Work Number </mat-header-cell>
            <mat-cell *matCellDef="let log" ngClass="worknumber-column"> {{log.WorkNumber}} </mat-cell>
        </ng-container>

        <!-- Thread ID Column -->
        <ng-container matColumnDef="threadId">
            <mat-header-cell *matHeaderCellDef ngClass="threadid-column"> Thread ID </mat-header-cell>
            <mat-cell *matCellDef="let log" ngClass="threadid-column"> {{log.ThreadId}} </mat-cell>
        </ng-container>

        <!-- Message Column -->
        <ng-container matColumnDef="message">
            <mat-header-cell *matHeaderCellDef ngClass="message-column"> Message </mat-header-cell>
            <mat-cell *matCellDef="let log" ngClass="message-column"> {{log.Message}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>